# updated 2026-05-10
flask==3.0.3
PyPDF2==3.0.1
spacy==3.7.5
scikit-learn==1.5.0
numpy==1.26.4
gunicorn
https://github.com/explosion/spacy-models/releases/download/en_core_web_md-3.7.1/en_core_web_md-3.7.1.tar.gz